.up-form {
  min-width: 250px;
  width: 100%;
}
.up-full-width {
  min-width: 250px;
  width: 100%;
}
.up-subtitle {
  padding-bottom: 5px;
}
.up-button-row {
  padding-top: 15px;
}
.up-button-row button,
.up-button-row a {
  margin-right: 8px;
}
.up-button-row a:first-of-type {
  margin-left: 8px;
}
