<mat-card class="waybill-list-card">
  <mat-toolbar>
    <span>Waybills</span>
  </mat-toolbar>
  <mat-nav-list>
    <mat-list-item *ngFor="let waybill of waybills | slice:0:5"
      (click)="onSelect(waybill)"
      [class.selected]="waybill === selectedWaybill"
      routerLink="/waybill/{{waybill.id}}">
      <h4 mat-line>{{waybill.name}}</h4>
      <h3 mat-line>{{waybill.date | date}}</h3>
      <i mat-list-icon-right class="material-icons" matTooltip="See details" routerLink="/waybill/{{waybill.id}}">find_in_page</i>
      <i mat-list-icon-right class="material-icons" matTooltip="Send waybill" routerLink="/login">send</i>
      <i mat-list-icon-right class="material-icons" matTooltip="Download PDF" routerLink="/login">save_alt</i>
    </mat-list-item>
  </mat-nav-list>
  <!-- <app-way-bill-detail [waybill]="selectedWaybill"></app-way-bill-detail>-->
  <div class="up-button-row">
    <a mat-raised-button routerLink="/history" routerLinkActive="active">See more</a>
  </div>
</mat-card>
