/.idea/

# compiled output
/dist
/out-tsc
/src/generated
/tmp

# dependencies
/node_modules

# IDEs and editors
/.ideals -la
/**/target
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map
protractor-results*.txt

# System Files
.DS_Store
Thumbs.db

