<mat-card class="waybillcreate-card">
  <mat-toolbar>
    <span>Quickstart</span>
  </mat-toolbar>
  <form class="up-form">
    <mat-form-field class="up-full-width">
      <mat-select placeholder="Form" value="selectedValue.name" [(ngModel)]="selectedValue" name="formList">
        <mat-option *ngFor="let form of formList" [value]="form.id">
          {{form.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <div *ngIf="selectedValue" class="up-button-row">
    <a mat-raised-button routerLink="/form/{{selectedValue}}">Start</a>
  </div>
  </form>

</mat-card>
