<mat-card class="waybillcreate-card">
  <mat-card-title>Quickstart</mat-card-title>
  <mat-card-subtitle>Choose your waybill</mat-card-subtitle>
    <mat-form-field>
      <mat-select placeholder="Waybills" [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <div class="waybillcreate-row">
    <a mat-raised-button routerLink="/user-portal" routerLinkActive="active">Start</a>
  </div>

</mat-card>
