<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="login-card">
      <mat-form-field>
        <input [(ngModel)]="user.userName" matInput placeholder="Username" (keyup.enter)="login()">
      </mat-form-field>
      <mat-form-field>
        <input type="password" [(ngModel)]="user.password" matInput placeholder="Password" (keyup.enter)="login()">
      </mat-form-field>

      <div class="login-button-row">
        <a (click)="login()" mat-raised-button routerLink=".">Login</a>
        <a mat-raised-button routerLink=".">Reset Password</a>
      </div>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
